@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* =====================
   1. General Style
===================== */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

:root {
    --blue-color: #015ba5;
    --body-color: #53647f;
    /*use for paragraph or text color */
    --heading-color: #344768;
    /*use for heading h1, h2,.. color */
    --danger-color: #ed3237;
    --light-color: #eff1f4;
    --light-blue-color: #f6fafe;
    --light-dark-blue-color: #b4d3f8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--body-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

h6,
.h6 {
    line-height: 1.4;
}

@media (min-width: 1200px) {

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .h4,
    h4 {
        font-size: 1.25rem;
    }

    .h5,
    h5 {
        font-size: 1rem;
    }
}


/* =====================
    2. Global Classes
===================== */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.list-style-disc {
    list-style: disc;
}

.question-form .form-check-input,
.question-form .form-check-label {
    cursor: pointer;
}

.question-form .form-check-input {
    width: 1.25em;
    height: 1.25rem;
}

.question-form .form-check-input:checked~.form-check-label {
    font-weight: 500;
    color: var(--heading-color);
}

.form-check-input:checked[type=radio] {
    background-image: url(../images/icons/check-svgrepo-com.svg);
    background-size: 12px 12px;
}

.question-form .form-check-input[type=radio] {
    border-radius: 0.25em;
}

.question-form .form-check-input:checked {
    border-color: var(--blue-color);
    background-color: #ffff;
}

.form-check-input:focus {
    box-shadow: none;
}

.line-camp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-camp-2 {
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.line-camp-3 {
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.bg-light-blue {
    background-color: var(--light-blue-color);
}

.light-dark-blue-color {
    background-color: var(--light-dark-blue-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-red {
    background-color: var(--danger-color);
}

.bg-light-color {
    background-color: var(--light-color);
}

.dark-heading-color {
    color: var(--heading-color);
}

.text {
    color: var(--body-color);
}

.tag-box {
    display: inline-block;
    padding: 4px 6px;
    background-color: #dceafb;
    border-radius: 3px;
    font-size: 12px;
}

.sec-pd {
    padding: 70px 0;
}

.h-60 {
    height: 60px;
}

.fw-300 {
    font-weight: 300;
}

.fw-500 {
    font-weight: 500;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-15 {
    font-size: 15px;
}

.text-sm {
    font-size: 14px;
}

.sec-title-tag-text-center {
    max-width: 600px;
    display: inline-block;
}

.read-more-link {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    font-weight: 600;
}

.danger-more-link {
    color: var(--danger-color);
    border-color: 1px solid var(--danger-color);
}

.blue-more-link {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

.link {
    color: var(--heading-color);
}

.circle-tag {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    background-color: var(--blue-color);
    color: #fff;
}

.btn {
    font-size: 14px;
}

.btn-danger {
    border-color: var(--danger-color) !important;
    background-color: var(--danger-color) !important;
}

.btn-ligh-dark-blue {
    background-color: var(--light-dark-blue-color);
    color: var(--heading-color);
}

.btn-danger-transparent {
    color: var(--danger-color);
    border-color: var(--danger-color);
}

.btn-white {
    color: var(--danger-color);
    background-color: #fff;
}

.next-pre-btn,
.next-pre-btn {
    background-color: var(--light-color);
    color: var(--body-color);
}

.next-pre-btn.active,
.next-pre-btn.active {
    background-color: var(--light-dark-blue-color);
    border-color: var(--light-dark-blue-color);
    color: var(--heading-color);
}


/* =====================
   3. Header
===================== */
.header-top-call-link {
    color: var(--body-color);
}

.header {
    box-shadow: 0 8px 25px 0 rgb(0 0 0 / 4%);
    -webkit-box-shadow: 0 8px 25px 0 rgb(0 0 0 / 4%);
}

.header-top {
    text-align: right;
}

.navbar-nav .nav-link {
    position: relative;
    padding: 14px 0px !important;
    margin-left: 14px;
    margin-right: 14px;
    color: var(--heading-color);
    font-size: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link:before {
    background: var(--danger-color);
    opacity: .75;
    bottom: 10px;
    content: "";
    height: 2px;
    border-radius: 1px;
    left: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-link:hover:before {
    width: 100%;
}

.navbar-nav .nav-link:hover {
    color: var(--danger-color);
}

.nav-search-btn {
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
    color: var(--body-color);
}


/* =====================
   4. Home Landing
===================== */
.home-landing {
    height: 100vh;
    padding-top: 78.5px;
    background-color: #f2f4f5;
    overflow: hidden;
}

.homeLandingSlider .carousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 87px);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 100%;
    border: none;
    background-color: var(--heading-color);
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-prev-icon-custom,
.carousel-control-next-icon-custom {
    height: 32px;
    width: 32px;
    background-color: var(--light-dark-blue-color);
    border-radius: 4px;
    padding: 0;
    line-height: 32px;
    text-align: center;
    color: var(--heading-color);
}

.home-landing-bottom {
    left: 0;
    bottom: 0;
    height: 8px;
    width: 100%;
    background-color: var(--danger-color);
}


/* right bottom fix style enroll now enroll quick links */
.fix-right-bottom-link {
    right: 1%;
    bottom: 3%;
    z-index: 99;
}

.fix-right-bottom-link ul {
    list-style-type: none;
}


/*featured courses*/
.featured-box {
    padding: 1.95rem;
}

.featured-box.active {
    background-image: linear-gradient(var(--blue-color), #4c86bd);
}

.featured-box.active h3 {
    color: #fff;
}

.featured-box.active p {
    font-weight: 300;
    color: #f8f9fa;
}

.featured-box.active .blue-more-link {
    color: #fff;
    border-color: #fff;
    font-weight: 500;
}

.featured-box.active span {
    color: #fff;
}


/*promo banner*/
.promo-banner {
    max-height: 200px;
}

.book-a-demo {
    margin-top: 7rem;
}

.book-a-demo-image-box {
    transform: translateY(-22%);
}

.overlay-circle {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.overlay-circle div {
    width: 250px;
    height: 250px;
    border: 54px solid #1f6eb0;
    border-radius: 100%;
    right: -7%;
    top: 37%;
}

.promo-banner-small-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    list-style-type: none;
}

.promo-banner-small-circle li {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 4px solid #fff;
}

.promo-banner-small-circle li:nth-child(1) {
    right: 30%;
    bottom: 9%;
}

.promo-banner-small-circle li:nth-child(2) {
    right: 3%;
    bottom: 3%;
}



/*announcement*/
.announcement-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.tab-btn-container {
    border-bottom: 1px solid var(--light-color);
}

.tab-btn-container li {
    margin: 0 15px;
}

.tab-btn-container .btn {
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    color: var(--heading-color);
    transition: .4s all;
}

.tab-btn-container .btn.active,
.tab-btn-container .btn:hover {
    color: var(--danger-color);
    border-bottom: 1px solid var(--danger-color);
}

.tab-content .table>:not(caption)>*>* {
    padding: 1.15rem 0.25rem !important;
}

.tab-content-link {
    color: var(--danger-color);
    font-size: 18px;
}

.announcement-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -30px;
    left: -30px;
    transform: rotate(65deg);
}

.announcement-icon img {
    transform: rotate(-90deg);
}

.announcement-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--blue-color), #4c86bd);
    z-index: 2;
    border-radius: 0.375rem;
}

.announcement-backside {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -14px;
    left: 14px;
    background-color: #dce1e6;
    border-radius: 0.375rem;
}

.rank-thumbnail {
    background-color: var(--light-dark-blue-color);
}

.rank-profile {
    transform: translateY(-22%);
}

.enroll-now {
    max-width: 94%;
    left: 3%;
}

.enroll-now .promo-banner-small-circle li:nth-child(1) {
    right: 70%;
    top: 6%;
}

.enroll-now .promo-banner-small-circle li:nth-child(2) {
    right: 3%;
    top: 4%;
}

.rank-badge {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #ed3237;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.feature-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.feautre-icon-front,
.feautre-icon-back {
    width: 110px;
    height: 110px;
    line-height: 100px;
}

.best-faculty-front {
    top: 20px;
    left: 20px;
    z-index: 2;
}

.feature-icon-box {
    transition: 3s;
    top: 1.5rem;
    left: 1.5rem;
}

.feature-text-box {
    transition: 3s;
    top: 0;
}

.slideLeft {
    left: -100%;
}

.slideUp {
    top: -400px;
}

.feautre-icon-back {
    background-image: linear-gradient(#4c86bd, var(--blue-color));
}


.strip-bg-circle {
    border-radius: 100%;
    z-index: -1;
    transform: rotate(-45deg);
}

.wh-120 {
    width: 120px;
    height: 120px;
}

.strip-bg-circle li {
    width: 100%;
    height: 3.5px;
    margin: 3px 0;
    background-color: #e5e7eb;
}

.why-next-ias-strip-circle {
    left: -55px;
    top: 30px;
}

.downloadTheNextIasAppSlider .carousel-control-next,
.downloadTheNextIasAppSlider .carousel-control-prev {
    width: 5%;
}

.text-box {
    display: inline-block;
    max-width: 220px;
    min-width: 190px;
    height: 55px;
}

.text-box>p {
    display: flex;
    align-items: center;
    height: 100%;
}

.star-circle {
    width: 48px;
    height: 48px;
    top: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.star-circle-left {
    left: -24px;
}

.star-circle-right {
    right: -24px;
}

.star-circle span {
    background-color: var(--danger-color);
    color: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: block;
    border-radius: 100%;
}

.app-link-btn {
    display: flex;
    align-items: center;
    padding: .3rem 1.5rem;
    color: var(--heading-color);
}

.app-link-btn>div span:nth-of-type(2) {
    display: block;
    margin-top: -4px;
    padding-bottom: 4px;
}


.book-box-row {
    height: 400px;
}


.book-box {
    width: 200px;
    height: 200px;
    transition: .4s all;
}

.book-box .front,
.book-box .back {
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
}

.book-box .front {
    line-height: 200px;
    text-align: center;
    z-index: 2;
}

.back-dark {
    background-color: #283e5d;
}

.book-box .front.top-right {
    top: -40px;
    left: 50px;
}

.top-top {
    top: 40px;
    left: 50px;
}

.bottom-left {
    top: 30px;
    right: 20px;
}

.book-box .back {
    z-index: 1;
}

.rotate-left {
    transform: rotate(-8deg);
}

.rotate-right {
    transform: rotate(8deg);
}

.first-book {
    bottom: 0;
    left: 5%;
    z-index: 3;
}

.second-book {
    top: 0;
    left: calc(45% - 112px);
    z-index: 2;

}

.second-book .front,
.second-book .back {
    width: 225px;
    height: 225px;
}

.third-book {
    bottom: 5%;
    right: 7%;
    z-index: 1;
}

.book-box .back-blue-gradient {
    background-image: linear-gradient(var(--blue-color), #4c86bd);
}

.testi-user-main-col {
    height: 430px;
}

.testi-first-col {
    transform: translateY(-22%);
}

.testi-second-col {
    transform: translateY(-2%);
}

.testi-third-col {
    transform: translateY(-8%);
}

.testimonial-user-box {
    height: 180px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    padding-top: 3.75rem;
    margin: 0.4rem 0;
}

.testimonial-user-box img {
    transform: scale(1.5);
}

.circle-image-container ul {
    list-style: none;
    min-height: 340px;
}

.circle-image-container {
    padding-left: 25%;
}

.circle-image-container li {
    border-radius: 100%;
    display: inline-block;
}

.circle-image-container li:nth-child(1) {
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
    top: 15%;
    left: -5%;
}

.circle-image-container li:nth-child(2) {
    width: 170px;
    height: 170px;
    border: 6px solid #fff;
    top: 12%;
    left: 25%;
}

.circle-image-container li:nth-child(3) {
    width: 70px;
    height: 70px;
    border: 4px solid #fff;
    right: 5%;
}

.circle-image-container li:nth-child(4),
.circle-image-container li:nth-child(5) {
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
}

.circle-image-container li:nth-child(4) {
    left: 14%;
    bottom: 24%;
}

.circle-image-container li:nth-child(5) {
    left: 13%;
    bottom: 5%;
}

.circle-image-container li:nth-child(6) {
    width: 120px;
    height: 120px;
    border: 6px solid #fff;
    right: 14%;
    bottom: 9%;
}


.photo-video-youtube-promo-banner .icon-box-container {
    height: 100px;
}

.photo-video-youtube-promo-banner .overlay-circle div {
    right: 30%;
    top: -91%;
}

.icon-box-container li {
    width: 100px;
    height: 85px;
    line-height: 85px;
}

.icon-box-container li:nth-child(1) {
    transform: rotate(10deg);
    left: 7%;
}

.icon-box-container li:nth-child(2),
.icon-box-container li:nth-child(3) {
    transform: rotate(-10deg);
}

.icon-box-container li:nth-child(1),
.icon-box-container li:nth-child(3) {
    bottom: -30px;
}

.icon-box-container li:nth-child(2) {
    top: -35px;
}

.icon-box-container li:nth-child(3) {
    right: 7%;
}

.icon-box-container .icon-box {
    background-color: var(--danger-color);
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    display: block;
    top: -23px;
    left: calc(50% - 23px);
}

.icon-box-container span {
    color: var(--heading-color);
}

.photo-video-youtube-promo-banner .promo-banner-small-circle li:nth-child(1) {
    left: 30%;
    bottom: 20%;
}


/*our rankers*/
.rankers-box {
    min-height: 250px;
}

.ranksers-text {
    top: 0;
    left: 0;
}

.ranksers-text span {
    color: var(--heading-color);
}

.ranksers-text .rank-no {
    font-size: 2.75rem;
    font-weight: 600;
}

.ranksers-text .rank-cat {
    font-size: 1.2rem;
    font-weight: 500;
}

.rankers-name {
    margin-top: -10px;
}

.rankers-img {
    width: 96%;
    left: -10px;
    top: 5px;
    height: 190px;
    transform: rotate(-15deg);
    border-radius: 35px;
}

.rankers-img-bg {
    background-image: linear-gradient(to right, var(--blue-color), #4c86bd);
    width: 100%;
    height: 70px;
    border-radius: 35px;
    bottom: 0;
    left: 0;
}

.ranker-user-pic {
    bottom: 0;
    left: 0;
    width: 100%;
}

.ranker-user-pic img {
    position: relative;
    left: 28%;
    bottom: -30px;
    transform: rotate(15deg);
}

.watch-success-btn {
    color: var(--danger-color);
    bottom: 0;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}



/*initiatives*/

.initiatives-logo-container {
    background-color: #ebf4fe;
    height: 160px;
    border-radius: 80px;
    z-index: 2;
}

.initiatives-logo-container li {
    margin: 0 1.5rem;
    max-width: 120px;
    height: 56px;
}

.strip-bg-circle.initiatives-logo-strip-1 {
    width: 65px;
    height: 65px;
    left: 80px;
    bottom: -30px;
    z-index: 1;
}

.strip-bg-circle.initiatives-logo-strip-2 {
    width: 145px;
    height: 145px;
    right: 80px;
    top: -90px;
    z-index: 1;
}

/*dots sesign*/
.dots-design {
    list-style: none;
}

.dots-design li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.dots-design.initiatives-sec li:nth-child(1) {
    top: 15%;
    left: 7%;
}

.dots-design.initiatives-sec li:nth-child(2) {
    bottom: 5%;
    left: 52%;
}

.dots-design.initiatives-sec li:nth-child(3) {
    top: 14%;
    right: 35%;
}

.dots-design.initiatives-sec li:nth-child(4) {
    top: 28%;
    right: 6%;
}

/*ready to joun */
.ready-to-join-sec {
    padding: 100px 0;
}

.ready-to-join {
    width: 96%;
    left: 2%;
    min-height: 195px;
}

.ready-to-join-img {
    top: -100px;
}

.ready-to-join .promo-banner-small-circle li:nth-child(1) {
    left: 27%;
    top: 16%;
}

.ready-to-join .promo-banner-small-circle li:nth-child(2) {
    right: 5%;
    top: 15%;
}




/*footer*/
.extra-top-pd {
    padding-top: 100px;
}

.footer-first-row {
    padding-top: 70px;
    padding-bottom: 40px;
}

.footer .app-link-btn {
    margin: 10px 0;
    padding: 0rem .4rem;
}

.footer .app-link-btn div {
    margin-top: -3px;
}

.footer .app-link-btn .font-12 {
    font-size: 9px;
}

.footer .app-link-btn .text-sm {
    font-size: 11px;
    line-height: 13px;
}

.footer-link-list a {
    color: var(--body-color);
}

.footer-info-icon {
    top: -1px;
    left: 0;
}

.footer-info-text {
    padding-left: 1.1rem;
}

.footer-contact-info .font-13 {
    line-height: 22px;
    display: inline-block;
}

.footer-social-link-list a {
    font-size: 1.2rem;
    margin: 0 .9rem;
    color: var(--heading-color);
}